################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Mercury Language Extensions/bin/Debug
/Mercury Language Extensions/.vs/Mercury Language Extensions
/Mercury Language Extensions/obj
/Mercury Language Extensions.Test/bin/Debug/netcoreapp3.1
/Mercury Language Extensions.Test/obj
.vs/Mercury.Language.Extensions/DesignTimeBuild/.dtbcache.v2
.vs/Mercury.Language.Extensions/v16/TestStore/0/001.testlog
.vs/Mercury.Language.Extensions/v16/TestStore/0/testlog.manifest
.vs/Mercury.Language.Extensions/DesignTimeBuild/.dtbcache.v2
Mercury.Language.Extensions.Test/bin/Debug/netcoreapp3.1/Mercury.Language.Extensions.Test.deps.json
Mercury.Language.Extensions.Test/bin/Debug/netcoreapp3.1/nunit_random_seed.tmp
.vs/Mercury.Language.Extensions/DesignTimeBuild/.dtbcache.v2
Mercury.Language.Extensions.Test/bin/Debug/netcoreapp3.1/Mercury.Language.Extensions.Test.deps.json
Mercury.Language.Extensions.Test/bin/Debug/netcoreapp3.1/nunit_random_seed.tmp
*.v2
Mercury.Language.Extensions.Test/bin/Debug/netcoreapp3.1/Mercury.Language.Extensions.Test.deps.json
Mercury.Language.Extensions.Test/bin/Debug/netcoreapp3.1/nunit_random_seed.tmp
Mercury.Language.Extensions.Test/obj/Debug/netcoreapp3.1/Mercury.Language.Extensions.Test.csproj.FileListAbsolute.txt
Mercury.Language.Extensions.Test/obj/Debug/netcoreapp3.1/Mercury.Language.Extensions.Test.GeneratedMSBuildEditorConfig.editorconfig
Mercury.Language.Extensions.Test/obj/Mercury.Language.Extensions.Test.csproj.nuget.dgspec.json
Mercury.Language.Extensions.Test/obj/project.assets.json
Mercury.Language.Extensions/bin/Debug/netstandard2.1/Mercury.Language.Extensions.deps.json
*.nuspec
Mercury.Language.Extensions/obj/Debug/netstandard2.1/Mercury.Language.Extensions.AssemblyInfo.cs
Mercury.Language.Extensions/obj/Debug/netstandard2.1/Mercury.Language.Extensions.csproj.FileListAbsolute.txt
Mercury.Language.Extensions/obj/Debug/netstandard2.1/Mercury.Language.Extensions.GeneratedMSBuildEditorConfig.editorconfig
Mercury.Language.Extensions/obj/Mercury.Language.Extensions.csproj.nuget.dgspec.json
Mercury.Language.Extensions/obj/project.assets.json
Mercury.Language.Extensions.Test/obj/Debug/netcoreapp3.1/Mercury.Language.Extensions.Test.csproj.FileListAbsolute.txt
Mercury.Language.Extensions.Test/obj/Debug/netcoreapp3.1/Mercury.Language.Extensions.Test.GeneratedMSBuildEditorConfig.editorconfig
Mercury.Language.Extensions.Test/obj/Mercury.Language.Extensions.Test.csproj.nuget.dgspec.json
Mercury.Language.Extensions.Test/obj/project.assets.json
.vs/Mercury.Language.Extensions/DesignTimeBuild/.dtbcache.v2
Mercury.Language.Extensions.Test/bin/Debug/netcoreapp3.1/Mercury.Language.Extensions.Test.deps.json
Mercury.Language.Extensions.Test/bin/Debug/netcoreapp3.1/nunit_random_seed.tmp
Mercury.Language.Extensions/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
Mercury.Language.Extensions.Test/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Mercury.Language.Extensions.Test/obj/Debug/netcoreapp3.1/Mercury.Language.Extensions.Test.AssemblyInfo.cs
.vs/Mercury.Language.Extensions/v16/TestStore/0/002.testlog
Mercury.Language.Extensions.Test/bin/Debug/netcoreapp3.1/Mercury.Language.Extensions.Test.runtimeconfig.dev.json
Mercury.Language.Extensions.Test/bin/Debug/netcoreapp3.1/Mercury.Language.Extensions.Test.runtimeconfig.json
Mercury.Language.Extensions.Test/obj/Debug/netcoreapp3.1/Mercury.Language.Extensions.Test.csproj.CopyComplete
Mercury.Language.Extensions.Test/obj/Mercury.Language.Extensions.Test.csproj.nuget.g.props
Mercury.Language.Extensions.Test/obj/Mercury.Language.Extensions.Test.csproj.nuget.g.targets
Mercury.Language.Extensions/obj/Debug/netstandard2.1/Mercury.Language.Properties.JapaneseEra.resources
Mercury.Language.Extensions/obj/Debug/netstandard2.1/Mercury.Language.Properties.Resources.ja-JP.resources
Mercury.Language.Extensions/obj/Debug/netstandard2.1/Mercury.Language.Properties.Resources.resources
Mercury.Language.Extensions/obj/Mercury.Language.Extensions.csproj.nuget.g.props
Mercury.Language.Extensions/obj/Mercury.Language.Extensions.csproj.nuget.g.targets
*.testlog
/.vs/Mercury.Language.Extensions/FileContentIndex
/Mercury.Language.Extensions/obj
/Mercury.Language.Extensions.Test/obj
.vs/Mercury.Language.Extensions/v17/.suo
.vs/ProjectEvaluation/mercury.language.extensions.metadata.v6.1
.vs/ProjectEvaluation/mercury.language.extensions.projects.v6.1
/.vs/Mercury.Language.Extensions/v17/TestStore/0
/Mercury.Language.Extensions/bin/Debug/net7.0
/Mercury.Language.Extensions.Test/bin/Debug/net7.0
/.vs/Mercury.Language.Extensions/v17/DocumentLayout.json
/.vs/ProjectEvaluation/mercury.language.extensions.metadata.v7.bin
/.vs/ProjectEvaluation/mercury.language.extensions.projects.v7.bin
/.vs
/Mercury.Language.Extensions/bin/Debug/net8.0
/Mercury.Language.Extensions.Test/bin/Debug/net8.0/cs
/Mercury.Language.Extensions.Test/bin/Debug/net8.0
